# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Log files
*.log
*.tmp
*.bak
